.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Part 1 */
.container #Sundae1 {
    position: absolute;
    top: 8vh;
    left: -8vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(-20deg);
}

.container #Pudding1 {
    position: absolute;
    top: 34vh;
    left: -3vw;
    width: 20vw;
    height: 20vw;
}

.container #Croissant1 {
    position: absolute;
    top: 24vh;
    left: 8vw;
    width: 20vw;
    height: 20vw;
}

.container #Cookie1 {
    position: absolute;
    top: -14vh;
    left: 1vw;
    width: 20vw;
    height: 20vw;
}

.container #Milkshake1 {
    position: absolute;
    top: 0;
    left: 12vw;
    width: 17vw;
    height: 17vw;
    transform: rotate(30deg);
}

/* Part 2 */
.container #Sundae2 {
    position: absolute;
    top: 35vh;
    left: 16vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(25deg);
}

.container #Pudding2 {
    position: absolute;
    top: 59vh;
    left: 22vw;
    width: 20vw;
    height: 20vw;
}

.container #Croissant2 {
    position: absolute;
    top: 74vh;
    left: 5vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(40deg);
}

.container #Cookie2 {
    position: absolute;
    top: 60vh;
    left: -7vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(-160deg);
}

.container #Milkshake2 {
    position: absolute;
    top: 54vh;
    left: 8vw;
    width: 17vw;
    height: 17vw;
    transform: rotate(-30deg);
}

/* Part 3 */
.container #Sundae3 {
    position: absolute;
    top: 22vh;
    left: 65vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(-25deg);
}

.container #Pudding3 {
    position: absolute;
    top: 50vh;
    left: 80vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(-10deg);
}

.container #Croissant3 {
    position: absolute;
    top: 67vh;
    left: 50vw;
    width: 20vw;
    height: 20vw;
}

.container #Cookie3 {
    position: absolute;
    top: 68vh;
    left: 62vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(-160deg);
}

.container #Milkshake3 {
    position: absolute;
    top: 47vh;
    left: 71vw;
    width: 17vw;
    height: 17vw;
    transform: rotate(40deg);
}

/* Part 4 */
.container #Sundae4 {
    position: absolute;
    top: 75vh;
    left: 80vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(25deg);
}

.container #Pudding4 {
    position: absolute;
    top: -3vh;
    left: 95vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(-10deg);
}

.container #Croissant4 {
    position: absolute;
    top: 65vh;
    left: 97vw;
    width: 20vw;
    height: 20vw;
}

.container #Cookie4 {
    position: absolute;
    top: 45vh;
    left: 90vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(-160deg);
}

.container #Milkshake4 {
    position: absolute;
    top: -10vh;
    left: 82vw;
    width: 17vw;
    height: 17vw;
    transform: rotate(-60deg);
}

/* Part 5 */
.container #Sundae5 {
    position: absolute;
    top: 18vh;
    left: 83vw;
    width: 20vw;
    height: 20vw;
    transform: rotate(-25deg);
}

.container #Pudding5 {
    position: absolute;
    top: 66vh;
    left: 36vw;
    width: 20vw;
    height: 20vw;
}

.container #Croissant5 {
    position: absolute;
    top: 3vh;
    left: 73vw;
    width: 20vw;
    height: 20vw;
}

.container #Cookie5 {
    position: absolute;
    top: -10vh;
    left: 65vw;
    width: 17vw;
    height: 17vw;
    transform: rotate(-60deg);
}

.container #Milkshake5 {
    position: absolute;
    top: 26vh;
    left: 98vw;
    width: 17vw;
    height: 17vw;
    transform: rotate(-60deg);
}

.container #Pudding6 {
    position: absolute;
    top: -15vh;
    left: 22vw;
    width: 20vw;
    height: 20vw;
}


