@import url(design.css);

body {
    margin: 0;
    height: 300vh;
    width: 100%;
    background-color: #FEFAED;
    font-family: "Maven Pro", sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    position: relative;
    z-index: 10;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #C1AFFF;
    padding: 10px 0 10px;
}

header .left {
    height: 100%;
    margin-right: 20px;
}

header .left img {
    height: 100%;
}

header #p {
    font-weight: 1000;
    text-shadow: 3px 3px 14px #332727;
    flex: 1;
    text-align: center;
    margin-left: 190px;
    font-size: 3rem;
}

.right {
    display: flex;
    width: 400px;
    gap: 20px;
}

.func {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.func a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50%;
    border: solid 4px #A48DF3;
    background-color: #FEFAED;
    color: #402F2F;
}

.func a i {
    font-size: 20px;
}

#login {
    display: flex;
    gap: 20px;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    border-radius: 30px;
    border: solid 3px #332727;
}

#login i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50%;
    border: solid 4px #A48DF3;
    color: #402F2F;
    background-color: #FEFAED;
    font-size: 20px;
}

.loginText span {
    font-size: 0.8rem;
}

.loginText p {
    color: #332727;
}

.container .login {
    align-self: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.container .login img{
    width: 100%;
    margin-top: 20px;
}

.container .login button {
    width: 100%;
    background-color: #C1AFFF;
    font-family: "Maven Pro", sans-serif;
    color: white;
    font-weight: bold;
    margin-top: -55px;
    padding: 12px 20px;
    border: solid 3px #332727;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.4rem;
    display: block;
    transition: 0.4s ease;
    position: relative;
    z-index: 10;
}

.container .login button:hover {
    background-color: #a48fee;
    color: #fff2c7;
}

.statement {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.statement .mission,
.statement .vision {
    width: 50%;
}

.statement .vision p,
.statement .mission p {
    font-size: 1.3rem;
    text-align: justify;
    margin-left: 20px;
}

.statement .vision h1,
.statement .mission h1 {
    color:#a48fee;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}